<div class="login">
  <div class="login__window">
    <p>Create a new user.</p>
    <input
      [(ngModel)]="authService.userName.firstName"
      placeholder="firstname"
      type="text"
    />
    <input
      [(ngModel)]="authService.userName.lastName"
      placeholder="lastname"
      type="text"
    />
    <input placeholder="email" type="text" #userMail required />
    <input placeholder="password" type="password" #userPassword required />
    <button (click)="authService.SignUp(userMail.value, userPassword.value)">
      Sign Up
    </button>
  </div>
</div>
