<div class="login">
  <div class="login__window">
    <p>Create a new user.</p>
    <input
      [(ngModel)]="firstname"
      placeholder="firstname"
      type="text"
      required
    />
    <input [(ngModel)]="lastname" placeholder="lastname" type="text" required />
    <input
      [(ngModel)]="email"
      placeholder="email"
      type="text"
      #userMail
      required
    />
    <input
      [(ngModel)]="password"
      placeholder="password"
      type="password"
      #userPassword
      required
    />
    <button (click)="signUp()">Sign Up</button>
  </div>
</div>
