.login {
  width: 100vw;
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  // background-image: url("/app/assets/img/justchat.png");
  // background-position: center;
  // background-size: 110%;
  // background-repeat: no-repeat;
}

.login__window {
  background: rgb(53, 53, 53);
  max-height: 600px;
  max-width: 400px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  button {
    width: 260px;
  }
  input {
    width: 244px;
  }
  p {
    padding: 16px;
  }
  h1 {
    font-weight: 400;
    font-size: 2.4rem;
    text-align: center;
  }
  .login__window__auth {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
