<section class="channel">
  <div class="create-channel">
    <div class="create-channel-window">
      <h1>Create new Channel</h1>
      <input [(ngModel)]="channelName" />
      <button (click)="createChannel()">Create</button>
      <button (click)="backToChat()">abort</button>
    </div>
    <div class="create-channel-window">
      <h1>Subscribe a channel</h1>
      <select
        #channelOptions
        name="Channels"
        [(ngModel)]="channelNameAdd"
        class="channel__select"
      >
        <option
          *ngFor="let channel of backend.allChannels"
          value="{{ channel.channelID }}"
        >
          {{ channel.channelName }}
        </option>
      </select>
      <button (click)="addChannel(channelOptions.value)">Subscribe</button>
    </div>
  </div>
</section>
