<section class="inputfield">
    <textarea [(ngModel)]="thread.text" class="inputfield__textarea" name="" id="" cols="100" rows="6"></textarea>
    <div class="inputfield__buttons">
        <div>
            <i class="fa-solid fa-plus"></i>
            <i class="fa-solid fa-at"></i>
            <i class="fa-solid fa-bold"></i>
            <i class="fa-solid fa-italic"></i>
            <i class="fa-solid fa-code"></i>
        </div>
        <div>
            <i class="fa-solid fa-paper-plane" (click)="saveThread()"></i>
        </div>
    </div>
</section>