<section class="aside__enable--hide">
  <i
    [class.show]="openMobileState"
    [class.hide]="!openMobileState"
    (click)="changeMobileState()"
    class="close fa-solid fa-xmark absolute"
  ></i>
  <section class="aside__section">
    <div
      (click)="!userClicked ? (userClicked = true) : (userClicked = false)"
      class="aside__section__user__div"
    >
      <span>{{ AuthService.userName.firstName }}</span>
      <img
        class="aside__section__user__img"
        src="https://avatars.dicebear.com/api/bottts/:{{
          AuthService.userName.firstName + ' ' + AuthService.userName.lastName
        }}.svg"
      />
    </div>
  </section>
  <section class="aside__section">
    <div
      (click)="!hideChannel ? (hideChannel = true) : (hideChannel = false)"
      class="aside__section__heading"
    >
      <p>Channels</p>
      <i [class.turn]="hideChannel" class="fa-solid fa-caret-down"></i>
    </div>

    <div [class.hide]="hideChannel" class="aside__section__group">
      <div
        class="aside__section__channel__div"
        *ngFor="let channel of backend.allChannels"
        (click)="openChannel(channel.channelID)"
      >
        <i class="fa-regular fa-chart-bar"></i>
        <p>{{ channel["channelName"] }}</p>
      </div>

      <div class="aside__section__channel__div" routerLink="/create-channel">
        <i class="fa-solid fa-plus"></i>
        <p class="font--16">add/sub channel</p>
      </div>
    </div>
  </section>
  <!-- <section class="aside__section">
    <div
      (click)="!hideDirects ? (hideDirects = true) : (hideDirects = false)"
      class="aside__section__heading"
    >
      <p>Messages</p>
      <i [class.turn]="hideDirects" class="fa-solid fa-caret-down"></i>
    </div>
    <div [class.hide]="hideDirects" class="aside__section__group">
      <div *ngFor="let user of backend.userSelected" class="paddingLeftZero">
        <div class="aside__section__channel__div spaceBetween paddingLeftZero">
          <img
            class="aside__section__user__img"
            src="https://avatars.dicebear.com/api/bottts/:{{
              user.firstname + ' ' + user.lastname
            }}.svg"
          />
          <p>{{ user["firstname"] }}</p>
        </div>
      </div>
      <div
        (click)="!userSearch ? (userSearch = true) : (userSearch = false)"
        class="aside__section__channel__div"
      >
        <i class="fa-solid fa-plus"></i>
        <p class="font--16">chat</p>
      </div>
    </div>
  </section> -->
  <!-- <section *ngIf="userClicked" class="aside__section userEdit fixed z--1">
    <div class="userEdit__head">
      <p>{{ AuthService.userName.firstName }}</p>
      <img
        class="aside__section__user__img"
        src="https://avatars.dicebear.com/api/bottts/:{{
          AuthService.userName.firstName + ' ' + AuthService.userName.lastName
        }}.svg"
      />
    </div>
    <button (click)="logout()">Logout</button>
    <i
      (click)="!userClicked ? (userClicked = true) : (userClicked = false)"
      class="fa-solid fa-xmark close absolute"
    ></i>
  </section> -->
  <section
    *ngIf="userSearch"
    class="aside__searchUser__Container userEdit fixed z--1"
  >
    <div class="userEdit__head">
      <input
        (input)="search()"
        [(ngModel)]="searchInput"
        class="aside__searchUser__bar"
        placeholder="search"
        type="text"
      />
    </div>
    <!-- <div class="aside__searchUser">
      <div
        *ngFor="let user of backend.allUser; let i = index"
        class="aside__section__channel__div spaceAround"
        (click)="
          backend.selectedUser(
            user.Firstname,
            user.Lastname,
            user.userData.uid,
            AuthService.userData.uid
          );
          userSearch = false
        "
        [class.hide]="
          !(user.Firstname + user.Lastname)
            .toLowerCase()
            .includes(this.backend.searchUser.toLowerCase())
        "
        [class.hideUser]="user.userData.uid == AuthService.userData.uid"
      >
        <img
          class="aside__section__user__img"
          src="https://avatars.dicebear.com/api/bottts/:{{
            user.Firstname + ' ' + user.Lastname
          }}.svg"
        />
        <p>{{ user["Firstname"] }} {{ user["Lastname"] }}</p>
      </div>
      <i
        (click)="!userSearch ? (userSearch = true) : (userSearch = false)"
        class="fa-solid fa-xmark close absolute"
      ></i>
    </div> -->
  </section>
</section>
