.aside__section {
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 40px;

  div {
    padding: 6px;
    max-width: 180px;
    overflow: hidden;
    cursor: pointer;
  }
}

.aside__section__group {
  width: 100%;
  cursor: pointer;
}

.turn {
  transform: rotate(90deg);
}

.aside__section__channel__div {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  i {
    margin-right: 16px;
  }
  &:hover {
    cursor: pointer;
    filter: brightness(1.5);
    p,
    i {
      color: rgba(224, 106, 9, 0.767);
    }
  }
}

.aside__section__user__div {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;

  &:hover {
    cursor: pointer;
    transform: scale(1.05);
    p,
    span {
      color: rgba(224, 106, 9, 0.767);
    }
  }
}

.aside__section__user__img {
  height: 40px;
  width: 40px;
  object-fit: contain;
  border-radius: 8px;
}

.aside__section__heading {
  border-bottom: 1px solid rgba(224, 106, 9, 0.767);
  margin-bottom: 10px;
  width: 200px;
  margin-left: 0 !important;
  display: flex;
  justify-content: space-between;
  p {
    font-weight: 400;
  }
  &:hover {
    * {
      cursor: pointer;
      color: rgba(224, 106, 9, 0.767);
    }
  }
}

.userEdit {
  top: 50%;
  left: 50%;
  width: 300px;
  height: fit-content;
  transform: translate(-50%, -50%);
  background: rgb(53, 53, 53);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  button {
    width: 260px;
  }

  input {
    width: 244px;
  }

  p {
    padding: 16px;
  }

  h1 {
    font-weight: 400;
    font-size: 2.4rem;
    text-align: center;
  }

  i {
    top: 16px;
    right: 16px;
  }

  @media (max-width: 360px) {
    width: 100vw;
    max-width: 100%;
    height: 100%;
    border-radius: 0;
    max-height: none;
  }
}

.userEdit__head {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.close {
  top: 32px;
  right: 16px;
}

.aside__searchUser__Container {
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 40px;

  div {
    padding: 6px;
    width: 96%;
    overflow: hidden;
    cursor: pointer;
  }
}

.aside__searchUser {
  height: 400px;
  overflow-y: scroll !important;
  width: 100%;
}

.aside__searchUser__bar {
  margin-top: 60px !important;
}

.spaceBetween {
  justify-content: space-between !important;
}
