<section class="aside__enable--hide">
  <i
    [class.show]="openMobileState"
    [class.hide]="!openMobileState"
    (click)="changeMobileState()"
    class="close fa-solid fa-xmark absolute"
  ></i>
  <section class="aside__section">
    <div (click)="openUserEdit()" class="aside__section__user__div">
      <span>{{
        AuthService.userName.firstName + " " + AuthService.userName.lastName
      }}</span>
      <img
        class="aside__section__user__img"
        src="https://avatars.dicebear.com/api/bottts/:{{
          AuthService.userName.firstName + ' ' + AuthService.userName.lastName
        }}.svg"
      />
    </div>
  </section>
  <!-- <section class="aside__section">
    <div class="aside__section__heading">
      <p>Favourites</p>
      <i
        [class.turn]="hideFav"
        (click)="toggleFav()"
        class="fa-solid fa-caret-down"
      ></i>
    </div>
    <div [class.hide]="hideFav" class="aside__section__group">
      <div class="aside__section__channel__div">
        <i class="fa-solid fa-star"></i>
        <p>Favourite</p>
      </div>
      <div class="aside__section__channel__div">
        <i class="fa-solid fa-plus"></i>
        <p class="font--18">add favourite</p>
      </div>
    </div>
  </section> -->
  <section class="aside__section">
    <div class="aside__section__heading">
      <p>Channels</p>
      <i
        [class.turn]="hideChannel"
        (click)="toggleChannel()"
        class="fa-solid fa-caret-down"
      ></i>
    </div>

    <div [class.hide]="hideChannel" class="aside__section__group">
      <div
        class="aside__section__channel__div"
        *ngFor="let channel of backend.allChannels"
        (click)="openChannel(channel.channelID)"
      >
        <i class="fa-regular fa-chart-bar"></i>
        <p>{{ channel["channelName"] }}</p>
      </div>

      <div class="aside__section__channel__div" routerLink="/create-channel">
        <i class="fa-solid fa-plus"></i>
        <p class="font--18">add channel</p>
      </div>
    </div>
  </section>
  <section class="aside__section">
    <div class="aside__section__heading">
      <p>Messages</p>
      <i
        [class.turn]="hideDirects"
        (click)="toggleDirects()"
        class="fa-solid fa-caret-down"
      ></i>
    </div>
    <div [class.hide]="hideDirects" class="aside__section__group">
      <div class="aside__section__channel__div">
        <i class="fa-solid fa-user-large"></i>
        <p>In</p>
      </div>
      <div class="aside__section__channel__div">
        <i class="fa-solid fa-user-large"></i>
        <p>Progress</p>
      </div>
      <div class="aside__section__channel__div">
        <i class="fa-solid fa-user-large"></i>
        <p>...</p>
      </div>
    </div>
  </section>
  <section *ngIf="userClicked" class="aside__section userEdit fixed z--1">
    <div class="userEdit__head">
      <p>{{ AuthService.userName.firstName }}</p>
      <img
        class="aside__section__user__img"
        src="https://avatars.dicebear.com/api/bottts/:{{
          AuthService.userName.firstName + ' ' + AuthService.userName.lastName
        }}.svg"
      />
    </div>
    <button (click)="logout()">Logout</button>
    <i (click)="openUserEdit()" class="fa-solid fa-xmark close absolute"></i>
  </section>
</section>
