.dropzone {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-weight: 200;
    height: 70px;
    border: 2px solid orange;
    border-radius: 5px;
    background: rgba(53, 53, 53, 0.863);
}

.dropzone.hovering {
    border: 2px dashed orange;
}
