.message-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 94%;
}

.message {
  position: relative;
  width: 100%;
  margin-top: 20px;
  max-width: 100%;
  max-height: 400px;
  height: fit-content;
  background: #2c2c2c;
  border-radius: 6px;
  @extend .boxShadow;
  border-right: 1px solid rgb(39, 39, 39);
}

.message__username {
  font-weight: 400;
  font-size: 2rem;
}

.message__user__info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.message__time {
  font-weight: 100;
  font-size: 1.8rem;
  color: rgb(155, 155, 155);
}

.message__user__div {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.message__user__img {
  height: 30px;
  width: 30px;
  margin: 8px;
  object-fit: contain;
  border-radius: 6px;
}

.message__user__text {
  display: flex;
  flex-direction: column;
  margin-left: 46px;
  font-size: 1.8rem;
  padding: 8px;
  width: fit-content;

  img {

    width: 60px;
  }
}

p {
  margin: 8px 8px 0 8px;
}

.message__react__div {
  margin: 16px 0 16px 46px;

  img {
    width: 60px;
  }
}

.message__file__container {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;
}

.message__file {
  height: 30px;
  width: 30px;
  margin-right: 8px;
  border-radius: 6px;
  cursor: pointer;

  &:hover {
    filter: brightness(1.2);
    transform: scale(1.05);
  }
}

.boxShadow {
  background-color: rgb(69, 69, 69);
  box-shadow: rgba(66, 66, 66, 0.637) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}