<section
  [class.hide]="
    !thread.text.toLowerCase().includes(this.backend.searchInput.toLowerCase())
  "
  class="message-box"
  *ngFor="let thread of backend.allThreads"
>
  <div class="message">
    <div class="message__user__div">
      <img
        class="message__user__img"
        src="https://avatars.dicebear.com/api/bottts/:{{ thread.creator }}.svg"
      />
      <div class="message__user__info">
        <p class="message__username">{{ thread.creator }}</p>
        <p class="message__time">at: {{ thread.date }}</p>
      </div>
    </div>
    <div
      [class.bold]="this.thread.bold == true"
      [class.italic]="this.thread.italic == true"
      [class.code]="this.thread.code == true"
      class="message__user__text"
    >
      {{ thread.text }}
      <img [src]="backend.Url" *ngIf="backend.Url" />
    </div>
    <div class="message__react__div">
      <p (click)="changeState(thread.threatID)" class="highlighted">React</p>
    </div>
  </div>
</section>
