<main>
  <app-aside
    [class.show]="openMobileState"
    [class.hide__aside]="!openMobileState"
    class="aside fixed z--2"
  ></app-aside>
  <div class="main__div">
    <div class="main">
      <i
        [class.hide]="openMobileState"
        (click)="changeMobileState()"
        class="toggleNavbar fa-solid fa-bars absolute"
      ></i>
      <app-searchbar></app-searchbar>
      <app-chat class="chat"></app-chat>
      <app-inputfield></app-inputfield>
    </div>
    <app-thread
      id="thread"
      [class.hide]="!openState"
      class="thread relative z--1"
    ></app-thread>
  </div>
</main>
