html {
  font-size: 62.5%;
  background-size: contain;
  scroll-behavior: smooth;
  height: 100%;
  * {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    color: rgb(201, 201, 201);
    font-size: 2rem;
  }
}

body {
  width: 100vw;
  max-width: 100%;
  height: 100%;
  margin: 0;
  background: linear-gradient(#2c2c2c, #000000);
  background-size: 300% 300%;
}

p {
  margin: 0;
  font-size: 2rem;
}

input {
  margin: 20px;
  border: transparent;
  background: rgba(224, 106, 9, 0.767);
  padding: 6px;
  border-radius: 6px;
  border-right: 1px solid rgba(0, 0, 0, 0.459);
  @extend .boxShadow;
}

button,
.channel__select {
  width: 260px;
  margin: 16px;
  padding: 16px;
  border: transparent;
  background-color: rgba(224, 106, 9, 0.767);
  border-radius: 6px;

  &:hover {
    cursor: pointer;
    transform: scale(1.02);
    background: rgba(235, 117, 7, 0.767);
    @extend .boxShadow;
  }
}

section {
  padding: 8px;
  height: fit-content;
}

.highlighted {
  cursor: pointer;
  width: fit-content;
  padding: 8px;
  color: rgba(235, 117, 7, 0.767);
  background-color: rgb(37, 37, 37);
  border-radius: 6px;

  &:hover {
    transform: scale(1.05);
    filter: brightness(1.5);
  }
}

.close {
  padding: 8px;
  &:hover {
    cursor: pointer;
    color: rgba(224, 106, 9, 0.767);
    filter: brightness(1.5);
    border-radius: 6px;
    @extend .boxShadow;
  }
}

.font--18 {
  font-size: 1.8rem;
}

.font--16 {
  font-size: 1.6rem;
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.show {
  display: flex !important;
}

.hide {
  display: none !important;
}

.hideUser {
  display: none !important;
}

.hide__aside {
  @media (max-width: 900px) {
    display: none !important;
  }
}

.z {
  &--1 {
    z-index: 1;
  }
  &--2 {
    z-index: 2;
  }
}

.bold {
  font-weight: 500;
}

.italic {
  font-style: italic;
}

.code {
  font-family: "Space Mono", monospace !important;
  color: orange;
  border-radius: 4px;
}

.fontActive {
  color: rgba(224, 106, 9, 0.767);
  filter: brightness(1.5);
  border-radius: 6px;
  @extend .boxShadow;
}

input:focus,
textarea:focus {
  outline: none;
}

textarea {
  resize: none;
  border: 1px solid rgb(39, 39, 39);
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  background: rgba(53, 53, 53, 0.383);
}

::-webkit-scrollbar-thumb {
  background: rgba(224, 106, 9, 0.767);
  border-radius: 4px;
}

.boxShadow {
  box-shadow: rgba(66, 66, 66, 0.637) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

::placeholder {
  color: rgba(255, 255, 255, 0.83);
  opacity: 1;
}
