<section class="message">
  <div class="message__user__div">
    <img
      class="message__user__img"
      src="https://avatars.dicebear.com/api/bottts/: example1 .svg"
    />
    <div class="message__user__info">
      <p class="message__username">USERNAME</p>
      <p class="message__time">at: TIME</p>
    </div>
  </div>
  <div class="message__user__text">
    {{ message }} Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic
    necessitatibus illum quidem quisquam pariatur totam veniam ipsum, eos
    commodi doloribus.
  </div>
  <div>
    <p (click)="toggleMessage()" class="highlighted">React</p>
  </div>
</section>
