.login {
  width: 100vw;
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/assets/img/justchatBig.png");
  background-position: bottom;
  background-size: 60%;
  background-repeat: no-repeat;
}

.login__window {
  background: rgba(53, 53, 53, 0.814);
  max-height: 600px;
  max-width: 400px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  button {
    width: 260px;
  }

  input {
    width: 244px;
  }

  p {
    padding: 16px;
  }

  h1 {
    font-weight: 400;
    font-size: 2.4rem;
    text-align: center;
  }

  .login__window__auth {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  @media (max-width: 360px) {
    width: 100vw;
    max-width: 100%;
    height: 100%;
    border-radius: 0;
    max-height: none;
  }
}
