<section class="thread">
  <div class="thread__head fixed">
    <p>Thread</p>
    <i (click)="changeState()" class="close fa-solid fa-xmark"></i>
  </div>
  <div class="thread__messages">
    <section
      [class.hide]="
        !(message.text + message.creator)
          .toLowerCase()
          .includes(this.backend.searchInput.toLowerCase())
      "
      class="message-box"
      *ngFor="let message of backend.allMessages"
    >
      <div class="message">
        <div class="message__file__container">
          <img
            class="message__file"
            src="https://firebasestorage.googleapis.com/v0/b/chatapp-72bc7.appspot.com/o/files%2F1649700768414_bild8.jpg?alt=media&token=a9e95f48-7bf7-4137-a71f-be320a2dba40"
            onclick="window.open('https://firebasestorage.googleapis.com/v0/b/chatapp-72bc7.appspot.com/o/files%2F1649700768414_bild8.jpg?alt=media&token=a9e95f48-7bf7-4137-a71f-be320a2dba40');"
          />
        </div>

        <div class="message__user__div">
          <img
            class="message__user__img"
            src="https://avatars.dicebear.com/api/bottts/:{{
              message.creator
            }}.svg"
          />
          <div class="message__user__info">
            <p class="message__username">{{ message.creator }}</p>
            <p class="message__time">at: {{ message.date }}</p>
          </div>
        </div>
        <div
          [class.bold]="this.message.bold == true"
          [class.italic]="this.message.italic == true"
          [class.code]="this.message.code == true"
          class="message__user__text"
        >
          {{ message.text }}
        </div>
      </div>
    </section>
  </div>
  <section class="thread__inputfield fixed">
    <textarea
      [(ngModel)]="thread.text"
      class="inputfield__textarea"
      [class.bold]="bold"
      [class.italic]="italic"
      [class.code]="code"
      name=""
      id=""
      cols="100"
      rows="6"
      [(ngModel)]="clear"
    ></textarea>
    <div class="inputfield__buttons">
      <i class="fa-solid fa-plus"></i>
      <i class="fa-solid fa-at"></i>
      <i
        [class.fontActive]="bold"
        (click)="boldFont()"
        class="fa-solid fa-bold"
      ></i>
      <i
        [class.fontActive]="italic"
        (click)="italicFont()"
        class="fa-solid fa-italic"
      ></i>
      <i
        [class.fontActive]="code"
        (click)="codeFont()"
        class="fa-solid fa-code"
      ></i>
      <i class="fa-solid fa-paper-plane" (click)="saveMessage()"></i>
    </div>
  </section>
</section>
