.thread {
  height: 96%;
  width: 280px;
  padding: 8px 8px 16px 8px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: rgba(53, 53, 53, 0.863);

  @media (max-width: 900px) {
    background: rgb(53, 53, 53);
    width: 94%;
    max-height: 94%;
    padding: 8px;
  }
}

.thread__head {
  width: 200px;
  margin-left: 0 !important;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
  @extend .boxShadow;
  border-right: 1px solid rgba(0, 0, 0, 0.459);

  p {
    font-weight: 400;
  }

  @media (max-width: 500px) {
    width: 120px;
  }
}

.thread__messages {
  width: 100%;
  overflow-y: scroll;
  margin-top: 80px;
  margin-bottom: 200px;
  border-radius: 6px;
  border-bottom: 1px solid rgb(39, 39, 39);
}

.thread__inputfield {
  width: 260px;
  height: 192px;
  bottom: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.624);
  background-color: #2c2c2c;
  border-radius: 6px;

  @media (max-width: 900px) {
    width: 90%;
  }
}

.inputfield__textarea {
  width: 96%;
  padding: 8px;
  margin: 8px;
  height: 100px;
  background: #2c2c2c;
  border-radius: 6px;
  @extend .boxShadow;
  border-right: 1px solid rgba(0, 0, 0, 0.459);
}

.inputfield__buttons {
  width: fit-content;
  height: 30px;
  padding: 8px;
  margin: 8px;
  display: flex;
  justify-content: flex-start;
  align-content: center;
  border-radius: 6px;
  @extend .boxShadow;
  border-right: 1px solid rgba(0, 0, 0, 0.459);

  i {
    padding: 4px 10px 4px 10px;

    &:hover {
      cursor: pointer;
      color: rgba(224, 106, 9, 0.767);
      filter: brightness(1.5);
      border-radius: 6px;
      @extend .boxShadow;
    }
  }
}

.boxShadow {
  background-color: rgb(69, 69, 69);
  box-shadow: rgba(66, 66, 66, 0.637) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.message {
  position: relative;
  margin-top: 20px;
  max-width: 100%;
  max-height: 400px;
  height: fit-content;
  background: #2c2c2c;
  border-radius: 6px;
  @extend .boxShadow;
  border: 1px solid rgb(39, 39, 39);
}

.message__username {
  font-weight: 400;
  font-size: 2rem;
}

.message__user__info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.message__time {
  font-weight: 100;
  font-size: 1.8rem;
  color: rgb(155, 155, 155);
}

.message__user__div {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.message__user__img {
  height: 30px;
  width: 30px;
  margin: 8px;
  object-fit: contain;
  border-radius: 6px;
}

.message__user__text {
  margin-left: 46px;
  font-size: 1.8rem;
  padding: 8px;
  width: fit-content;
}

p {
  margin: 8px 8px 0 8px;
}

.boxShadow {
  background-color: rgb(69, 69, 69);
  box-shadow: rgba(66, 66, 66, 0.637) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.message__file__container {
  position: absolute;
  top: 16px;
  right: 8px;
  width: 40px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}

.message__file {
  height: 20px;
  width: 20px;
  margin-bottom: 8px;
  border-radius: 6px;
  cursor: pointer;

  &:hover {
    filter: brightness(1.2);
    transform: scale(1.05);
  }
}

progress::-webkit-progress-value {
  transition: width 0.1 ease;
}

progress {

  width: 60px;
}

.preview-container {

  img {
    width: 60px;
  }

}

input {
  display: none;
}