<section class="thread">
  <div class="thread__head fixed">
    <p>Thread</p>
    <i (click)="changeState()" class="close fa-solid fa-xmark"></i>
  </div>
  <div class="thread__messages">
    <app-message class="message"></app-message>
    <app-message class="message"></app-message>
    <app-message class="message"></app-message>
    <app-message class="message"></app-message>
  </div>
  <section class="thread__inputfield fixed">
    <textarea
      class="inputfield__textarea"
      name=""
      id=""
      cols="100"
      rows="6"
    ></textarea>
    <div class="inputfield__buttons">
      <i class="fa-solid fa-plus"></i>
      <i class="fa-solid fa-at"></i>
      <i class="fa-solid fa-bold"></i>
      <i class="fa-solid fa-italic"></i>
      <i class="fa-solid fa-code"></i>
      <i class="fa-solid fa-paper-plane"></i>
    </div>
  </section>
</section>
